<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <script type="text/javascript">
    (function ($) {
    $(document).ready(function ($) {
    document.getElementById("searchbar").setAttribute("placeholder", "Enter your number");
    });
    })(django.jQuery);
</script>

  <div class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header col-sm-4 hidden-xs">
        <a class="navbar-brand" href="/">PSY-Point.ru</a>
      </div>
      <div class="collapse navbar-collapse">
	<ul class="nav navbar-nav navbar-right">
	  <!-- hide if teacer is logged in-->
	  {% if not teacher %} 
	  <li><a href="#">Личный кабинет преподавателя</a></li>
	  <li><a href="#">Получить доступ</a></li>
	  {% endif %}
	</ul>
	{% if student %}
	<div class="col-sm-8" align="right" style="display:block; margin: 7px 0;">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" disabled>
              {{ student.surname }}
              {{ student.name }}
              {{ student.middlename }}
              [{{ student.stgroup }}]
            </button>
            <a class="btn btn-primary" href="/logout">Выход с сайта</a>
          </div>
	</div>
	{% endif %}
      </div>
    </div>
  </div>

    {% if messages %}{% for message in messages %}
    <div class="alert{% if message.tags %} alert-{{ message.level_tag.lower }}{% endif %} col-md-push-1 col-md-10" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">{{ message.level_tag.capitalize }}:</span>
      {{ message }}
    </div>
    {% endfor %}{% endif %}
    
    {% block content %}{% endblock %}
</body>
</html>
