{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Тест №{{ test.id }}{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <h4 align="center">Вопрос {{ position }} из {{ questions_len }}</h4>
        <div class="well col-md-12">
            {{ question.description|safe }}
        </div>

        {% if question.type == 0 %}<h4 align="center">Выберите один из вариантов ответа</h4>{% endif %}
        {% if question.type == 1 %}<h4 align="center">Выберите один или несколько вариантов ответа</h4>{% endif %}
        {% if question.type == 2 %}<h4 align="center">Напишите ответ в свободной форме</h4>{% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="well col-md-12">
                {% if question.type == 0 %}
                    {% for variant in question.variant_set.all %}
                        <div class="radio col-sm-12">
                            <label>
                                <input type="radio" name="variant" id="{{ variant.id }}" value="{{ variant.id }}">
                                {{ variant.text }}
                            </label>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if question.type == 1 %}
                    {% for variant in question.variant_set.all %}
                        <div class="checkbox col-sm-12">
                            <label>
                                <input type="checkbox" name="variant" id="{{ variant.id }}" value="{{ variant.id }}">
                                {{ variant.text }}
                            </label>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if question.type == 2 %}
                    <textarea class="form-control" rows="3" name="text"></textarea>
                {% endif %}
            </div>
            <button type="submit" class="pull-right col-sm-3 btn btn-success">Ответить</button>
        </form>
    </div>
{% endblock %}